.container {
  width: 100%;
  background-image: url("/src/Assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.hero {
  width: 90%;
  margin: auto;
}

.hero h2 {
  font-family: Lato;
  font-weight: 900;
  font-size: 64px;
  color: #fff;
  line-height: 76.8px;
  width: 60%;
}

.hero p {
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 32.04px;
  width: 45%;
  color: #fff;
  padding: 1.5rem 0;
}

.hero button {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  background-color:#1429A9;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}
